body {
  background-color: #999999;
  margin: 0;
  padding: 0;
}

.encabezado{
  padding: 0;
  text-align: center;
  background-color: white;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
}
header {
  padding: 0;
}

.cuerpo {
  text-align: left;
  background-color: red;
  width: 95%;
  margin: auto;
  
  

}





h3 {
  color:aqua

}