body {
  background-color: #999999;
  margin: 0;
  padding: 0;
}

.encabezado{
  padding: 0;
  text-align: center;
  background-color: white;
  width: 100%; 

}

h1 {
  margin: 0;
  padding: 1rem;

}

header {
  padding: 0;
}

.cuerpo {
  text-align: left;
  background-color: rgb(255, 254, 254);
  width: 95%;
  height: 85vh;
  margin: auto;
}

h3 {
  color: aqua;
  margin-left: 2rem;
}

li{
  margin-left: 2rem;
}
h2{
  margin-left: 2rem;
}

.corrected {
  margin: 15px;
}

.donete {
  background-color: skyblue;
  background-size: auto;
  background-repeat: no-repeat;
  width: max-content;
 text-decoration: line-through;
}